  .theme4 {
    .el-tabs--border-card {
      border: none;
      box-shadow: none;
    }
    .el-tabs--border-card>.el-tabs__header {
      background-color: #fff;
      border-bottom: none;
    }
    .el-tabs__item {
      font-size: 12px;
      font-family: '微软雅黑';
      height: 30px;
      line-height: 30px;
    }
    .el-tabs__nav {
      border: solid 1px #eaeaea;
    }
    .el-tabs--border-card>.el-tabs__header .el-tabs__item {
      color: #626262;
      border-right: solid 1px #eaeaea;
    }
    .el-tabs--border-card>.el-tabs__header .el-tabs__item.is-active {
      color: #fff;
      background-color: #29a1f7;
      border-right-color: #29a1f7;
      border-left-color: #29a1f7;
    }
    .el-tabs--border-card>.el-tabs__content {
      padding: 15px 0;
    }
    .el-tabs__item:focus.is-active.is-focus:not(:active) {
      box-shadow: none;
      border-radius: 0px;
    }
  }